*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: white;
    line-height: 1.5;
}

.wrapper{
    background: linear-gradient(                                                   
        to bottom, 
        rgba(255, 64, 50, 0.8),
        rgba(71, 17, 116, 0.9)
    ), 
    url('../images/background.jpg') no-repeat center/cover;                                                                  
    min-height: 100vh;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.header a .logo{
    width: 100px;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-right i{
    margin-right: 5px;
}

.header-right a{
    color: #fff;
}

.header-right a:hover{
    color:purple;
}

.main-content{
    display: flex;
    gap: 50px;
    max-width: 1100px;
    margin: 200px auto;
    justify-content: center;
    align-items: start;
    height: 100px;
    padding: 0 40px;
}

.main-content form{
    flex: 1;
}

.main-content .text-container{
    flex: 1;
}

.form-group{
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background: rgba(157, 81, 117, 0.5);                /*0.5----> opacity*/
    color: white;
    outline: 0;
}

.form-group label{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.form-group textarea{
    height: 100px;
    resize: none;
    margin-top: 10px;
}

.form-group .btn{
    display: block;
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;
    border: 0;
    background-color: rgb(255,64,50);
    color: white;
    font-size: 15px;;
}

.form-group .btn:hover{
    background-color: rgb(251, 86, 75);
}

.text-container h1{
    font-size: 50px;
    margin: 50px 0 20px;
    line-height: 1.4;
}

.text-container{
    font-size: 18px;
}

@media (max-width: 768px) {
    .hrader{
        padding: 30px 30px 10px;
    }

    .header, .header-right{
        flex-direction: column;
        gap: 10px;
    }

    .main-content{
        flex-direction: column-reverse;
        justify-content: start;
        margin: center;
        padding: 50px;
    }

    .main-content form,
    .main-content .text-container{
        width: 100%;
    }

    .main-content h1{
        font-size: 40px;
        text-align: center;
        line-height: 1.4;
    }

    .text-container p{
        display: none;
    }
}

@media (max-width: 500px) {
    .main-content{
        margin: 0 auto;
    }

    .main-content h1{
        font-size: 40px;
    }
}